*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.ali__sort {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ali__title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    line-height: 30px;
    color: black;
}

.ali__catalog {
    display: flex;
}

.ali__img {
    width: 250px;
}