*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doni-list{
    display: flex;
    
}
.doni-link{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    margin-left: 20px;
}